
* {
  margin: 0;
  font-family: 'Francois One';
}

header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-top: 10px;
}

.titre {
  display: flex;
  color : #e67e22;
}

.titre h1 {
  padding-top: 8px;
  padding-left: 10px;
}

.articles {
  display: flex;
}

.articles p {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

.logo {
  display: flex;
}

.logo img{
  padding-right: 20px;
  padding-top: 10px;
}

.compte {
  padding-right: 10px;
  padding-top: 20px;
  padding-left: 10px;
  border: 1px solid black;
}

.fr {
  padding-top: 20px;
  padding-left: 20px;
}
=======
/*SIBYLLE*/

#art{
  display:flex;
  flex-wrap: wrap;
  flex-direction:row;
 height: 100vh;
 width:100%;
 font-family: "Francois One";
margin-left: 30px;
margin-right: 30px;

}

#art h3{
  font-weight: 300;
  letter-spacing: 0em;
  font-size: 23px;
}

#art .culture h3{
  width:160px;
  border-bottom: 2px solid #c85a19;
  margin-bottom: -1px;
}

.culture-titre{
  border-bottom: 1px solid grey;

}
.culture{
  height:100%;
  width:55%;
  position:relative;
}

.culture-content{
  width:100%;
  height: 100%;
  margin-top: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("imagesSib/imageart1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
  color:white;

}

.culture-texte{
  height: 300px;
  width:300px;
  padding-top: 200px;
  text-align: center;
  padding-left: 100px;
  font-size: 20px;
}

.culture-texte .p1{
  font-size: 25px;
  border-bottom: 1px solid white;
}

.culture-texte .p2{
  font-size: 15px;
  font-weight: lighter;
}

.culture-content i{
margin-left: 15px;
margin-top: -20px;
font-size: 50px;
}


.voir-plus{
  padding:6px 10px 6px 10px;
  border:1px solid white;
  font-size: 15px;
}

.voir-plus:hover{
 background-color: rgba(255, 255, 255, 0.3);
}

.insta{
  display:flex;
  flex-wrap:wrap;
  width:45%;
  height:120%;
}

.insta-titre{
  text-align: center;
  width:100%;
  margin-bottom:0px;

}
.insta-titre h3{
  margin-bottom: 0px;
}
.after{
  width:40px;
  margin:auto;
  border:1.5px solid #c85a19;
}

.insta-grid{
  margin-top: 38px;
  width:100%;
  height: 60%;
  display:flex;
  flex-wrap: wrap;
  margin-left:75px;

}

.like{
  height: 20px;
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Open Sans";
  font-weight: lighter;
}

.like p{
  margin:0px;
  font-size: 10px;
  display: inline;
  margin-left:10px;
  margin-top: 3px;

}
.post{
  margin:0px 10px 0px 10px;
  height:150px;
  width:150px;

}

.insta-post{
  background-size: contain;
  background-repeat: no-repeat;
  width:100%;
  height:100%;

}

.back1{
  background-image: url("imagesSib/imageart2.jpg")
}

.back2{
  background-image: url("imagesSib/imageart3.jpg")
}
.back3{
  background-image: url("imagesSib/imageart4.jpg")
}
.back4{
  background-image: url("imagesSib/imageart5.jpg")
}

.reseau{
  margin:auto;
  width:400px;
  height: 20%;
  text-align: center;
}

.reseau h3{
  margin-bottom:10px;
  margin-top:10px;
}
.logo-reseaux{
display:flex;
height: 50px;
width:100%;

}

.logo{
  margin: auto;
  font-size: 25px;
  justify-content: space-between;
}

.logo:hover{
  color:#c85a19;
}
/*fin SIBYLLE*/

/* ALI */
{
	margin-top: 0;
	padding: 0;
}
#legendes{
	width:100%;
	height: 600px;
	background-color: #e1e8f4;
}

#legendes h2{
	margin-left: 120px;
	text-decoration: underline;
	line-height: 70px;
}
hr{margin-left: 120px;
	margin-right: 120px;
}
video{
	margin-left: 120px;
}
h1{
	margin-left: 900px;
	margin-top: -300px;
}
p{
	margin-left: 900px;
}
/* fin ALI */
